<ion-item color="medium">
  <ion-label text-wrap>{{ 'ultra-quick-mode' | translate }}</ion-label>
  <ion-select
    interface="action-sheet"
    [(ngModel)]="selectedUltraQuickMode"
    [selectedText]="selectedUltraQuickMode | translate"
    cancelText="{{ 'cancel' | translate }}"
    (ionChange)="onUltraQuickModeChange()"
  >
    <ion-select-option *ngFor="let ultraQuickMode of ultraQuickModes" value="{{ ultraQuickMode }}">{{ ultraQuickMode | translate }}</ion-select-option>
  </ion-select>
</ion-item>
