<ion-item color="medium">
  <ion-label>{{ 'light-mode' | translate }}</ion-label>
  <ion-select
    interface="action-sheet"
    [(ngModel)]="selectedLightMode"
    [selectedText]="selectedLightMode | translate"
    cancelText="{{ 'cancel' | translate }}"
    (ionChange)="onLightModeChange($event)"
  >
    <ion-select-option *ngFor="let lightMode of lightModes" value="{{ lightMode }}">{{ lightMode | translate }}</ion-select-option>
  </ion-select>
</ion-item>
<ion-item color="medium" #periodLengthContainer [hidden]="!periodLengthVisible">
  <ion-range color="light" min="2" max="60" step="1" [(ngModel)]="periodLength" (ionChange)="onPeriodLengthChange($event)" #periodLengthSlider>
    <ion-label slot="start">{{ 'period-length' | translate}}</ion-label>
    <ion-label slot="end">{{periodLength}}s</ion-label>
  </ion-range>
</ion-item>
<lsim-flashing
  [hidden]="selectedLightMode != 'flashing'"
  (turnOn)="emitTurnOn()"
  (turnOff)="emitTurnOff()"
  (intervals)="setIntervals($event)"
  (settingsChanged)="onSettingsChanged()"
  (periodLengthMin)="setPeriodLengthMin($event)"
  [periodLength]="periodLength"
></lsim-flashing>
<lsim-occulting
  [hidden]="selectedLightMode != 'occulting'"
  (turnOn)="emitTurnOn()"
  (turnOff)="emitTurnOff()"
  (intervals)="setIntervals($event)"
  (settingsChanged)="onSettingsChanged()"
  (periodLengthMin)="setPeriodLengthMin($event)"
  [periodLength]="periodLength"
></lsim-occulting>
<lsim-quick
  [hidden]="selectedLightMode != 'quick'"
  (turnOn)="emitTurnOn()"
  (turnOff)="emitTurnOff()"
  (intervals)="setIntervals($event)"
  (settingsChanged)="onSettingsChanged()"
  (periodLengthMin)="setPeriodLengthMin($event)"
  [periodLength]="periodLength"
></lsim-quick>
<lsim-very-quick
  [hidden]="selectedLightMode != 'very-quick'"
  (turnOn)="emitTurnOn()"
  (turnOff)="emitTurnOff()"
  (intervals)="setIntervals($event)"
  (settingsChanged)="onSettingsChanged()"
  (periodLengthMin)="setPeriodLengthMin($event)"
  [periodLength]="periodLength"
></lsim-very-quick>
<lsim-ultra-quick
  [hidden]="selectedLightMode != 'ultra-quick'"
  (turnOn)="emitTurnOn()"
  (turnOff)="emitTurnOff()"
  (intervals)="setIntervals($event)"
  (settingsChanged)="onSettingsChanged()"
  (periodLengthMin)="setPeriodLengthMin($event)"
  [periodLength]="periodLength"
></lsim-ultra-quick>
<lsim-morse
  [hidden]="selectedLightMode != 'morse'"
  (turnOn)="emitTurnOn()"
  (turnOff)="emitTurnOff()"
  (intervals)="setIntervals($event)"
  (settingsChanged)="onSettingsChanged()"
  (periodLengthMin)="setPeriodLengthMin($event)"
  [periodLength]="periodLength"
></lsim-morse>
<lsim-carta-marina
  [hidden]="selectedLightMode != 'carta-marina'"
  (turnOn)="emitTurnOn()"
  (turnOff)="emitTurnOff()"
  (intervals)="setIntervals($event)"
  (settingsChanged)="onSettingsChanged()"
></lsim-carta-marina>
<lsim-cardinal-marks
  [hidden]="selectedLightMode != 'cardinal-marks'"
  (turnOn)="emitTurnOn()"
  (turnOff)="emitTurnOff()"
  (intervals)="setIntervals($event)"
  (settingsChanged)="onSettingsChanged()"
></lsim-cardinal-marks>
