<ion-item color="medium">
  <ion-label>Light mode</ion-label>
  <ion-select interface="action-sheet" value="{{lightModes[0]}}" (ionChange)="onLightModeChange($event)">
    <ion-select-option *ngFor="let lightMode of lightModes">{{lightMode}}</ion-select-option>
  </ion-select>
</ion-item>
<ion-item color="medium" #periodLengthContainer [hidden]="!periodLengthVisible">
  <ion-range color="light" min="2" max="60" step="1" [(ngModel)]="periodLength" (ionChange)="onPeriodLengthChange($event)" #periodLengthSlider>
    <ion-label slot="start">Period length</ion-label>
    <ion-label slot="end">{{periodLength}}s</ion-label>
  </ion-range>
</ion-item>
<lsim-flashing
  [hidden]="selectedLightMode != 'Flashing'"
  (turnOn)="emitTurnOn()"
  (turnOff)="emitTurnOff()"
  (intervals)="setIntervals($event)"
  (settingsChanged)="onSettingsChanged()"
  (periodLengthMin)="setPeriodLengthMin($event)"
  [periodLength]="periodLength"
></lsim-flashing>
<lsim-occulting
  [hidden]="selectedLightMode != 'Occulting'"
  (turnOn)="emitTurnOn()"
  (turnOff)="emitTurnOff()"
  (intervals)="setIntervals($event)"
  (settingsChanged)="onSettingsChanged()"
  (periodLengthMin)="setPeriodLengthMin($event)"
  [periodLength]="periodLength"
></lsim-occulting>
<lsim-quick
  [hidden]="selectedLightMode != 'Quick'"
  (turnOn)="emitTurnOn()"
  (turnOff)="emitTurnOff()"
  (intervals)="setIntervals($event)"
  (settingsChanged)="onSettingsChanged()"
  (periodLengthMin)="setPeriodLengthMin($event)"
  [periodLength]="periodLength"
></lsim-quick>
<lsim-very-quick
  [hidden]="selectedLightMode != 'Very quick'"
  (turnOn)="emitTurnOn()"
  (turnOff)="emitTurnOff()"
  (intervals)="setIntervals($event)"
  (settingsChanged)="onSettingsChanged()"
  (periodLengthMin)="setPeriodLengthMin($event)"
  [periodLength]="periodLength"
></lsim-very-quick>
<lsim-ultra-quick
  [hidden]="selectedLightMode != 'Ultra quick'"
  (turnOn)="emitTurnOn()"
  (turnOff)="emitTurnOff()"
  (intervals)="setIntervals($event)"
  (settingsChanged)="onSettingsChanged()"
  (periodLengthMin)="setPeriodLengthMin($event)"
  [periodLength]="periodLength"
></lsim-ultra-quick>
<lsim-morse
  [hidden]="selectedLightMode != 'Morse'"
  (turnOn)="emitTurnOn()"
  (turnOff)="emitTurnOff()"
  (intervals)="setIntervals($event)"
  (settingsChanged)="onSettingsChanged()"
  (periodLengthMin)="setPeriodLengthMin($event)"
  [periodLength]="periodLength"
></lsim-morse>
<lsim-carta-marina
  [hidden]="selectedLightMode != 'Carta Marina'"
  (turnOn)="emitTurnOn()"
  (turnOff)="emitTurnOff()"
  (intervals)="setIntervals($event)"
  (settingsChanged)="onSettingsChanged()"
></lsim-carta-marina>
<lsim-cardinal-marks
  [hidden]="selectedLightMode != 'Cardinal Marks'"
  (turnOn)="emitTurnOn()"
  (turnOff)="emitTurnOff()"
  (intervals)="setIntervals($event)"
  (settingsChanged)="onSettingsChanged()"
></lsim-cardinal-marks>
