<ion-item color="medium">
  <ion-label>{{ 'very-quick-mode' | translate }}</ion-label>
  <ion-select
    interface="action-sheet"
    [(ngModel)]="selectedVeryQuickMode"
    [selectedText]="selectedVeryQuickMode | translate"
    cancelText="{{ 'cancel' | translate}}"
    (ionChange)="onVeryQuickModeChange()"
  >
    <ion-select-option *ngFor="let veryQuickMode of veryQuickModes" value="{{veryQuickMode}}">{{ veryQuickMode | translate }}</ion-select-option>
  </ion-select>
</ion-item>
<ion-item color="medium" #groupSizeContainer *ngIf="isGroupSizeVisible()">
  <ion-range color="light" min="2" max="10" step="1" [(ngModel)]="groupSize" (ionChange)="onGroupSizeChange($event)" #groupSizeSlider>
    <ion-label slot="start">{{ 'group-size' | translate }}</ion-label>
    <ion-label slot="end">{{groupSize}}</ion-label>
  </ion-range>
</ion-item>
