<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="medium">
      <ion-icon name="globe-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="translate.use('en')">
        <ion-icon src="../assets/icons/united-kingdom.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="translate.use('sv')">
        <ion-icon src="../assets/icons/sweden.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="translate.use('fi')">
        <ion-icon src="../assets/icons/finland.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-app>
