<ion-content [fullscreen]="true">
  <div id="container" #content>
    <div class="title">Lighthouse Simulator</div>
    <p>Choose light mode, edit the settings and press start</p>
    <lsim-color-mode (colorChange)="setModeAbbreviation()"></lsim-color-mode>
    <lsim-light-mode
      (lightModeChange)="setModeAbbreviation()"
      (periodLengthChange)="setModeAbbreviation()"
      (settingsChanged)="setModeAbbreviation()"
      (turnOn)="turnOn()"
      (turnOff)="turnOff()"
      (intervals)="setIntervals($event)"
    ></lsim-light-mode>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light" #footerBar>
    <p class="abbreviation">{{modeAbbreviation}}</p>
    <div class="buttons">
      <ion-button color="medium" *ngIf="!running" (click)="start()">Turn on!</ion-button>
      <ion-button color="medium" *ngIf="running" id="cancel" (click)="cancel()">Turn off!</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
