#container {
  text-align: center;
  height: 100%;
  background-color: #f5f5f5;
}

#container .title {
  font-size: 20px;
  line-height: 26px;
  padding: 20px 0;

  color: #424242;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 10px 20px;
}

#container a {
  text-decoration: none;
}

.red {
  background-color: red !important;
}

.black {
  background-color: black !important;
  --background: black !important;
}

.green {
  background-color: #0bf446 !important;
}

.white {
  background-color: white !important;
}

.hidden {
  visibility: hidden !important;
}

.abbreviation {
  float: left;
  margin-left: 50px;
  font-size: 16px !important;
}

.buttons {
  float: right;
  margin-right: 50px;
}